*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.979);
    color: white;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.componentes{
    background-color: rgba(85, 85, 85, 0.986);
    margin: 10px;
    padding: 10px;
}
.filho{
    background-color: rgba(189, 37, 37, 0.74);
    margin: 10px;
    padding: 10px;
}
.filha{
    background-color: rgba(209, 14, 167, 0.74);
    margin: 10px;
    padding: 10px;
}
.App{
    margin: auto;
    padding: 20px;
    width: 500px;
    background-color: #4229;
}
.lista{
    background-color: #7789;
    margin: 10px 0;
    color: black;
    padding: 10px;
    list-style: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.356);
}
.titulo{
    background-color: #225;
    padding: 5px;
    margin-bottom: 10px;
}